<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% include ./nav %>
    <p id="pageTitle"><%= title %></p>
    <div>
      <% for(var i = 0; i < entries.length; i++) { %>
	 <div id="blog">
	     <p id="blogTitle"><%= entries[i].blogTitle %></p>
	     <p id="blogText"><%= entries[i].blogText %></p>
	     <p id="date"><%= entries[i].dateStamp %></p>
	     <a href="/blogedit">Edit Blog</a><p>     </p>
	     <a href="/blogdelete">Delete Blog</a>
	     <br></br>
	 </div>
	 <br></br>
      <% } %> 
    </div>
  </body>
</html>                
