<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% include ./nav %>
    <p id="editTitle"><%= title %></p>
    <form method="POST" action="/blogedit/<%=blog._id%>">
		  <div class="form-group">
			  <label for="blogTitle">Blog Title:</label>
			  <input type="text" class="form-control"  id="blogTitle" name="blogTitle" value= "<%= blog.blogTitle %>">
		  </div>
		  <div class="form-group">
			  <label for="blogText">Blog Text:</label>
			  <input type="text" class="form-control" id="blogText" name="blogText" value= "<%= blog.blogText %>">
		  </div>
		  <button type="submit" class="btn btn-dark">Save post</button>
	  </form>
  </body>
</html>                
